.inicio {
    text-align: center;
    font-family: monospace;
    margin-top: 15%;
        
}


header {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: #1768AC;
box-sizing: border-box;
width:100%;
height: 70px;
position:fixed;
top:0;
left:0;

display:flex;
align-items:center;
justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(189, 82, 82);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #e2d6d6;
}


